apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ dummy_site_name }}-claim
  labels:
    dummy_site: {{ dummy_site_name }}
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Mi
