apiVersion: v1
kind: Service
metadata:
  name: {{ dummy_site_name }}-svc
spec:
  type: NodePort
  selector:
    app: {{ dummy_site_name }}
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
